.poll-create-form > input.question {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    padding: 5px 10px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 10px;
    color: #333;
}

.answers {
    margin-top: 50px;
    margin-bottom: 50px;
}

.answers > input {
    border: 0;
    width: calc(100% - 20px);
    height: 40px;
    font-size: 1.1em;
    padding: 5px 10px;
    color: black;
    border-bottom: 1px solid  black;
}