.app {
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-columns: auto [main] 1000px auto;
    grid-template-rows: auto [header] 200px [main] 40vh auto;
}

.app > header {
    grid-row-start: header;
    grid-column-start: main;
}

.app > div {
    grid-row-start: main;
    grid-column-start: main;
}

header {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    color: #333;
}

header > div.subheader {
    font-size: 0.3em !important;
    margin-top: -10px;
    margin-left: 100px;
}

.container {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

.poll-button {
    background: #1ac441;
    border: 0;
    width: 100%;
    color: #fff;
    padding: 10px 5px;
    border-radius: 2px;
}