.app {
    display: grid;
    grid-template-columns: auto [main] 1000px auto;
    grid-template-rows: auto [header] 200px [main] 40vh auto;
}

.app > header {
    grid-row-start: header;
    grid-column-start: main;
}

.app > div {
    grid-row-start: main;
    grid-column-start: main;
}